

@using NotfisUpload.Models;
@model Cep

<div class="row">
    <div class="col-md-3">
        @using (Html.BeginForm("CadastrarLogin", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="form-group">
                <div class="input-group">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control" })
                    <div class="row col-md-offset-3">
                        <label for="cor" class="col-sm-2 col-form-label text-right">Cep:</label>
                        <span class="input-group-btn">
                            <input type="submit" value="Buscar" class="btn btn-default" />
                        </span>
                    </div>
                </div>
            </div>
            <br />
            <div>
                @Html.ValidationMessageFor(m => m.Codigo, "", new { @class = "text-danger" })
            </div>
        }

        @{
            if (ViewBag.Endereco != null)
            {

                <div class="row col-md-offset-3">
                    <label for="valor" class="col-sm-2 col-form-label text-right">Endereço:</label>
                    <div class="col-sm-4">
                        <input type="text" id="Endereco" name="Endereco" />
                    </div>
                </div>
                <div class="row col-md-offset-3">
                    <label for="valor" class="col-sm-2 col-form-label text-right">Bairro:</label>
                    <div class="col-sm-4">
                        <input type="text" id="Bairro" name="Bairro" value="@ViewBag.Endereco.Bairro" />
                    </div>
                </div>
                <div class="row col-md-offset-3">
                    <label for="valor" class="col-sm-2 col-form-label text-right">Cidade:</label>
                    <div class="col-sm-4">
                        <input type="text" id="Cidade" name="Cidade" value=" @ViewBag.Endereco.Cidade" />
                    </div>
                </div>
                <div class="row col-md-offset-3">
                    <label for="valor" class="col-sm-2 col-form-label text-right">Estado:</label>
                    <div class="col-sm-4">
                        <input type="text" id="Estado" name="Estado" value="@ViewBag.Endereco.UF" />
                    </div>
                </div>
            }
        }
    </div>
</div>




<form action="/Login/AddNewLogin" method="post">

    <h1 class="row col-md-offset">@ViewBag.Title</h1>

    <div class="row col-md-offset-3">
        <label for="nome" class="col-sm-2 col-form-label text-right">Nome:</label>
        <div class="col-sm-4">
            <input type="text" id="Nome" name="Nome" />
        </div>
    </div>
    <div class="row col-md-offset-3">
        <label for="modelo" class="col-sm-2 col-form-label text-right">Email:</label>
        <div class="col-sm-4">
            <input type="email" id="Email" name="Email" />
        </div>
    </div>
    <div class="row col-md-offset-3">
        <label for="fabricacao" class="col-sm-2 col-form-label text-right">Senha:</label>
        <div class="col-sm-4">
            <input type="password" id="Senha" name="Senha" />
        </div>
    </div>
    <div class="row col-md-offset-3">
        <label for="fabricacao" class="col-sm-2 col-form-label text-right">Telefone:</label>
        <div class="col-sm-4">
            <input type="text" id="Telefone" name="Telefone" />
        </div>
    </div>

    <div class="row col-md-offset-3">
        <label for="combustivel" class="col-sm-2 col-form-label text-right">Numero:</label>
        <div class="col-sm-4">
            <input type="text" id="Numero" name="Numero" />
        </div>
    </div>
    <div class="row col-md-offset-3">
        <label for="autoatico" class="col-sm-2 col-form-label text-right">Complemento:</label>
        <div class="col-sm-4">
            <input type="text" id="Complemento" name="Complemento" />
        </div>
    </div>
    <div class="button row col-md-offset-1">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
</form>




































































    @*@model IEnumerable<_Views_Login_Login.Entidade.usario>

@{
    ViewData["Title"] = "Courses";
}

<h2>Courses</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Usuario => Usuario.)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CourseID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CourseID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CourseID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@








@*<script src="~/lib/jquery/dist/jquery.js"></script>
    <script>


        function configurarConsultaCep() {
            $("input").change(function () {
                var cep_code = $(this).val();
                if (cep_code.length <= 0) return;
                $.get("http://apps.widenet.com.br/busca-cep/api/cep.json", { code: cep_code }, function (result) {
                    if (result.status != 1) {
                        alert(result.message || "Houve um erro desconhecido");
                        return;
                    }
                    $("input[name='Cep']").val(result.code);
                    $("input[name='Estado']").val(result.state);
                    $("input[name='Cidade']").val(result.city);
                    $("“input[name ='Bairro']").val(result.district);
                    $("input [name='Endereco']").val(result.address);
                });
            });
        });

            //$(document).ready(function () {
            //    configurarConsultaCep();
            //});

            //$(document).ready(function () {
            //    alert("Test");
            //});
            //jQuery(function ($) {
            //    $("input[name='Cep']").change(function () {
            //        var cep_code = $(this).val();
            //        if (cep_code.length <= 0) return;
            //        $.get("http://apps.widenet.com.br/busca-cep/api/cep.json", { code: cep_code }, function (result) {
            //            if (result.status != 1) {
            //                alert(result.message || "Houve um erro desconhecido");
            //                return;
            //            }
            //            $("input[name='Cep']").val(result.code);
            //            $("input[name='Estado']").val(result.state);
            //            $("input[name='Cidade']").val(result.city);
            //            $("“input[name ='Bairro']").val(result.district);
            //            $("input [name='Endereco']").val(result.address);
            //        });
            //    });
            //});
    </script>*@

