@model IEnumerable<NotfisUpload.Entidade.NotaFiscal>


<br />
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form" method="get">
            <div class="row">
                <div class="col-sm-5 col-xs-12">
                    <input type="text" class="form-control input-sm" placeholder="Pesquise por chaveNFE" id="ChaveNFE" name="ChaveNfe">
                </div>
                <div class="col-sm-3 col-xs-12">
                    <label class="sr-only">Nro. NF</label>
                    <input type="text" class="form-control input-sm" placeholder="Pesquise por Pedido" id="Pedido" name="Pedido">
                </div>
                <div class="col-sm-3 col-xs-12">
                    <input type="submit" class="btn btn-info btn-sm btn-block" value="Filtrar">
                </div>
            </div>
            <br />

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 30px;">Id</th>
                        <th style="width: 30px;">Pedido</th>
                        <th style="width: 200px;">Chave</th>
                        <th style="width: 250px;">Natureza</th>
                        <th style="width: 100px;">Emissao</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelitem => item.Id)</td>
                        <td>@Html.DisplayFor(modelitem => item.Pedido)</td>
                        <td>@Html.DisplayFor(modelitem => item.ChaveNFE)</td>
                        <td>@Html.DisplayFor(modelitem => item.Natureza)</td>
                        <td>@Html.DisplayFor(modelitem => item.DataDaEmissao)</td>
                    </tr>
                    }
                </tbody>
            </table>

        </form>
    </div>
</div>
<!-- Grid -->
